<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/adminlayout">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	
<head>
<meta charset="ISO-8859-1">
<title>User</title>
<link th:href="@{/cu.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div layout:fragment="content" class="container">
	<h1 style="font-family: 'Khmer OS Battambang';">update user information</h1>
	<form th:object="${USER}">
		<table border="0px" >
			
			<tr>
				<td th:text="#{name1}" style="font-family: 'Khmer OS Battambang';">Name:</td>
				<td><input class="form-control" th:field="*{name}"  placeholder="Input Name..."/> </td>
			</tr>
			
			<tr>
				<td th:text="#{email}" style="font-family: 'Khmer OS Battambang';">Email</td>
				<td><input class="form-control" th:field="*{email}"  placeholder="Input Email..."/> </td>
			</tr>
			<tr>
				<td th:text="#{sex}" name="gender" style="font-family: 'Khmer OS Battambang';">Gender: </td>
				<td>
					<select th:field="*{gender}" >
						<option value="M">M</option>
						<option value="F">F</option>
					</select>
				</td>
			</tr>
			<tr>
				<td th:text="#{phone}" style="font-family: 'Khmer OS Battambang';">Phone Numeber:</td>
				<td><input class="form-control" th:field="*{phonenumber}"  placeholder="Input phone Number..."/> </td>
			</tr>
			<tr>
				<td style="font-family: 'Khmer OS Battambang';">Status:</td>
				<td><input class="form-control" th:field="*{status}" placeholder="Input phone Status..."/> </td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" style="margin-left:45px; margin-top: 5px; margin-bottom: 5px; width: 75px;color: blue;height:35px;font-size:18px;font-family: 'Khmer OS Battambang' ">
						Update 
					</button>
					<button type="submit" style="margin-left:45px; margin-top: 5px; margin-bottom: 5px; width: 75px;color: blue;height:35px;font-size:18px;font-family: 'Khmer OS Battambang' ">
						<a href="http://localhost:8080/user">Cancel</a> 
					</button>
				</td>
			</tr>
		</table>
		
	</form> 
	</div>
</body>
</html>